@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Lobster|Pacifico&display=swap');

body {
    background-color: #fc887b;
    font-family: "Helvetica", sans-serif;
}

.navbar {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ba474e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.items {
    float: left;
    border-right: 1px solid #f9b689;
}

.items a{
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.items a:hover {
    background-color: #fce08a;
    color: black;
}

.active {
    background-color: #f9b689;
}

.header {
    color: white;
    font-family: 'Pacifico', fantasy;
    font-size: 25px;
}

.home a{
    color: aliceblue;
    text-decoration: none;
}

h1 {
   color: #cd4062;
}

h2 {
    color: floralwhite;
}

h3 {
    color: black;
}

