@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Lobster|Pacifico&display=swap');

body {
    background-color: #87f2ea;
    font-family: "Helvetica", sans-serif;
}

.navbar {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fb098f;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#active-page{
    background-color: #fb92cc; 
}

.items {
    float: left;
    border-right: 1px solid;
}

.items a{
    display: block;
    color: floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.items a:hover {
    background-color: #ffecad;
    color: black;
}

.active {
    background-color: #fb92cc;
}

.header {
    font-family: 'Pacifico', fantasy;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 2px black;
}

.header2 {
    color: floralwhite;
    font-family: 'Pacifico', fantasy;
    font-size: 18px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #06baae;
    color: floralwhite;
    font-family: 'Pacifico', fantasy;
    font-size: 14px;
    text-align: center;
}

.home a{
    text-decoration: none;
}

h1 {
   color: darkcyan;
    text-shadow: 1px 2px black;
    margin: 20px;
}

h2 {
    color: lemonchiffon;
}

h3 {
    color: black;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}


div.desc {
    padding: 15px;
    text-align: center;
}

div.about {
    clear: left;
    float: left;
    margin: inherit;
}

div.about img {
    width: 220px;
    height: 400px;
    margin: 20px;
    float: left;
}

.thumbnail {
    padding: 0;
    transition: transform .2s;
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.thumbnail:hover {
/*    position: relative;
    top: -25px;
    left: -35 px;
    width: 500px;
    height: auto;
    display: block;
    z-index: 999; */
    transform: scale(1.7);
}

.page {
    padding: 10px 10px 10px 10px;
    border: 3px solid #06baae;
    
}